
#heading{
	background-color:purple;
	width:200px;
	border-left-style:solid;
	border-left-color:green;
	border-left-width:5px;
	font-size:20px;

	padding:10px;
	color:white;
}

/* Your CSS Code here. */